body {
    background-image: url("C:/Users/GABY SOBRON/Desktop/Raul/Terminados/imagenes/celda.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;    
  }